snippet lem "Lemma Box"
\lem{$1}{$2} $0
endsnippet

snippet def "Definitions and Axioms Box"
\defax{$1}{$2} $0
endsnippet

snippet thm "Theorem Box"
\thm{$1}{$2} $0
endsnippet

snippet crl "Corollary Box"
\crl{$1}{$2} $0
endsnippet

snippet phy "Physics Box"
\phy{$1}{$2} $0
endsnippet
