snippet nwc "New Command"
\newcommand{$1}[$2]{$3}
$0
endsnippet

snippet spc "space in math mode"
\;\;\;\;
endsnippet

snippet txt "text in maths mode"
\text{ $1} $0
endsnippet

snippet prob "problem title"
\problem{$1} $0
endsnippet

snippet stit "small title"
{\noindent\LARGE{\textbf{$1}}} $0\\
Nathan Durrant 
\textbf{ID:} 5510790
\vspace{25pt}
endsnippet

snippet com "red comment"
\comment{$1} $0
endsnippet
